[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git

[submodule "lib/hal"]
	path = lib/hal
	url = git@github.com:matgla/EmbeddedHAL.git

[submodule "lib/crcpp/crcpp"]
	path = lib/crcpp/crcpp
	url = https://github.com/d-bahr/CRCpp
