[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/gsl/gsl"]
	path = lib/gsl/gsl
	url = https://github.com/Microsoft/GSL.git

[submodule "cmake"]
	path = cmake
	url = git@github.com:matgla/EmbeddedCMakes.git
[submodule "lib/hal"]
	path = lib/hal
	url = git@github.com:matgla/EmbeddedHAL.git
